instance-id: iid-${name}-${stamp}
hostname: ${name}
local-hostname: ${name}

#network-interfaces: |
#  iface eth0 inet static
#  address ${base_ip}.${end_ip}
#  network ${base_ip}.0
#  netmask 255.255.255.0
#  broadcast ${base_ip}.255
#  gateway ${base_ip}.1
#  dns-nameservers: 8.8.8.8 8.8.4.4

#manage_resolv_conf: true
#resolv_conf:
#  nameservers: [ ${dns_list} ]
#  searchdomains:
#    - foo.example.com
#    - bar.example.com
#  domain: example.com
#  options:
#    rotate: true
#    timeout: 1

